html {
  /* make borders behave */
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 150;
}
body {
  /* Force body to top of viewport */
  margin: 0;
}
*, *:before, *:after {
  /* Cascade the box sizing model */
  box-sizing: inherit;
}

.panels {
  /* Set minimum height and hide overflow for panels */
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background:#6B0F9C;
  /* Flex 1 forces each child panel to occupy max possible space */
  flex: 1;
  /* center the children in each panel */
  justify-content: center;
  align-items: center;
  display: flex;
  /* Align items vertically */
  flex-direction: column;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
}

/* "Custom" bg images */
.panel1 { background-image:url('1.jpeg'); }
.panel2 { background-image:url('2.jpg'); }
.panel3 { background-image:url('3.jpeg'); }
.panel4 { background-image:url('4.jpeg'); }
.panel5 { background-image:url('5.jpeg'); }


/* For styling the text */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  Make the text grow in width maximally,
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* To hide the top and bottom text we need to specify height */
  height: 100%;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0)
}

.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0)
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  font-size:40px;
  flex: 5;
}
